<div class="form">
  <form>
    <div>
      <input class="input" type="text" name="inp-book" [(ngModel)]="book" />
      <select
        class="input"
        name="sel-topic"
        id="sel-topic"
        [(ngModel)]="genre"
      >
        <option *ngFor="let g of genres" [value]="g.id">{{ g.name }}</option>
      </select>
      <button class="button" type="submit" (click)="onSubmit($event)">
        Guardar
      </button>
    </div>
  </form>
</div>
<div>
  <table>
    <tr>
      <th>Título</th>
      <th>Género</th>
    </tr>
    <tr *ngFor="let b of books">
      <td>{{ b.name }}</td>
      <td>{{ b.genre }}</td>
    </tr>
  </table>
  <router-outlet></router-outlet>
</div>
